@font-face {
    font-family: "Segoe Print";
    src: url("/fonts/segoepr.ttf") format("truetype");
    font-weight: normal;
  }
  
  @font-face {
    font-family: "Segoe Print";
    src: url("/fonts/segoeprb.ttf") format("truetype");
    font-weight: bold;
  }

  @font-face {
    font-family: "VAGRundschriftD";
    src: url("/fonts/VAGRundschriftD.ttf") format("truetype");
    font-weight: bold;
  }
  

  /* @font-face {
    font-family: "Jesse";
    src: url("/fonts/PixelFont-Regular.otf") format("opentype");
    
  }

  @font-face {
    font-family: "Jesse2";
    src: url("/fonts/Jes-Regular.otf") format("opentype");
    
  } */

:root {
    --body-color: #18191a;
    --text-link-color: #ffffff; 
    --primary-color: #91FF7B;
    --secondary-color: #ce66ff;
    --tertiary-color: #ff9f00;
    
    --overall-content-margin: 0 300px;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: "VAGRundschriftD", "Segoe Print", "Jesse", "Jesse2",sans-serif;
  }

html{
    height: 100%;
}

body{
    /* text-transform: uppercase; */
    height: 100%;
    background: linear-gradient(
      to right,
      var(--primary-color) 0%,
      #1a1a1a 1%,
      #1a1a1a 50%,
      #1a1a1a 99%,
      var(--primary-color) 100%
  );
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: var(--primary-color);
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2.25rem;
}

h3{
  font-size: 1.875rem;
}

p, a, li{
  line-height: 1.5;
  font-size: 1rem;
  list-style-type: none;
  text-decoration: none;
  color: var(--primary-color);
}

/* WebKit Scrollbar (voor Chrome, Edge en Safari) */
::-webkit-scrollbar {
  width: 0px; /* Breedte van de scrollbar */
}



/* Scrollbar Thumb (het bewegende deel) */
::-webkit-scrollbar-thumb {
  background: #1a1a1a;
  width: 2px; /* Maakt de scrollbar afgerond */
}


/* alle text stylen voor de md file */

.markdown-content {
  width: 100%;
}


.markdown-content :is(h2, h3, h4, h5, h6, b, strong, i, em, p) {
  margin: 10px 0;
}


.markdown-content :is(h1, h2, h3, h4, h5, h6) {
  color: var(--primary-color);
}

.markdown-content b,
.markdown-content strong{
  color: var(--secondary-color);
  font-family: "Segoe Print", "sans-serif";
}

.markdown-content i,
.markdown-content em {
  color: var(--primary-color);
}

.markdown-content a {
  color: var(--text-link-color);
  text-decoration: underline;
  text-decoration-style: dotted;
  font-style: italic;
}

.markdown-content p {
  color: var(--tertiary-color);
}

/* .markdown-content code {
  background-color: var(--primary-color);
  color: #18191a;
} */

.markdown-content ul,
.markdown-content ol {
  padding: revert;
}

.markdown-content li {
  list-style: circle;
  color: var(--tertiary-color);
}

.markdown-content img{
  width: 270px;
  border-radius: 12px;
  border: var(--primary-color) 5px solid;
  display: block;           /* Make the image a block element */
  margin-left: auto;        /* Center horizontally */
  margin-right: auto; 
}

.notes-wrapper {
  margin: 60px auto;
  border-left: 5px solid var(--primary-color);
  border-right: 5px solid var(--primary-color);
  padding: 0 20px;
  max-width: 40em;
  width: 80%;
}

.notes-wrapper h1 {
  margin-bottom: 60px;
}

.markdown-content h3 {
  margin-top: 60px;
}

/* Default selection styling */
::selection {
  background-color: var(--primary-color);
  color: var(--body-color);
}

/* Selection styling for elements with secondary color */
.markdown-content b::selection,
.markdown-content strong::selection,
a::selection {
  background-color: var(--secondary-color);
  color: var(--body-color);
}

/* Selection styling for elements with tertiary color */
.markdown-content p::selection,
.markdown-content li::selection {
  background-color: var(--tertiary-color);
  color: var(--body-color);
}

.hljs{
  scrollbar-width: thin;
}